.banner
{

    width: 100%;
    height: 362px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url('../../images/banner88.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.banner-content{

    width: 100%;
    background: rgba(0,0,0,.6);
    position: absolute;
    z-index: 2;
}

.banner-content img{

    width: 180px;
    height: 180px;
}

.team-brief-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
    margin-top: 25px;
    color: #ffffff;

}

.team-data{
    width: 70%;
}

.team-photo{
    width: 30%;
}

.team-history{

    margin-top: 25px;
    color: #FFFFFF;
}


.social-info{

    margin-top: 25px;
 
}

.social-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon{

     width: 70px;
     height: 70px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;


}

.social-icon img{

    width: 80%;
}

.details-container{

    min-height: 600px;
}

@media (max-width: 991px) {
    .team-brief-info {
      flex-direction: column;
      justify-content: center;
    }

    .team-data{
        width: 100%;
        
    }
    
    .team-photo{
        width: 100%;
        border-radius: 20px;
    }
    
  }

  @media (max-width: 252px) {
    .team-brief-info {
      flex-direction: column;
      justify-content: center;
    }

    .team-data{
        width: 100%;
        font-size: 12px;
        
    }
    
    .team-photo{
        width: 100%;
    }
    
  }