.banner-content{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.6);
    position: absolute;
    z-index: 2;
}

.banner-content img{

    width: 180px;
    height: 180px;
}

.team-brief-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px;
    margin-top: 25px;
    color: #ffffff;

}

.team-data{
    width: 70%;
}

.team-photo{
    width: 30%;
}

.team-history{

    margin-top: 25px;
    color: #FFFFFF;
}


.social-info{

    margin-top: 25px;
 
}

.social-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon{

     width: 60px;
     height: 60px;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 32px;
     background-color: #FFFFFF;
     border-radius: 50%;
     margin-right: 10px;
    
     


}

.youtube-icon{
    color: rgba(255, 0, 0, 1);
   
}

.youtube-icon:hover{
    font-size: 35px;
}

.twitter-icon{
    color: #1DA1F2;
   
}

.twitter-icon:hover{
    
    font-size: 35px;
  
}



.facebook-icon{
    color: #4267B2;
   
}

.facebook-icon:hover{
    
    font-size: 35px; 
}


.details-container{

    min-height: 600px;
}

@media (max-width: 991px) {
    .team-brief-info {
      flex-direction: column;
      justify-content: center;
    }

    .team-data{
        width: 100%;
        
    }
    
    .team-photo{
        width: 100%;
        border-radius: 20px;
    }
    
  }

  @media (max-width: 252px) {
    .team-brief-info {
      flex-direction: column;
      justify-content: center;
    }

    .team-data{
        width: 100%;
        font-size: 12px;
        
    }
    
    .team-photo{
        width: 100%;
    }
    
  }